<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <h1>Tu carrito</h1>
            <h3 class="total">Total (cantidad de productos)
                Precio.
            </h3>
            <p class="descripcion-carrito"> Los articulos en tu carrito no estan reservados.
                Terminá el proceso de compra ahora para hacerte con 
                ellos.
            </p>
        </section>
    </header>
    <main>
        <section >
            
          <article>
            <div class="nombre-precio-producto">
            <img class="articulo-messi" src="images/the-man-of-the-past-messi_w416.png" alt="articulo nft"> 
            
                <div class="columna-producto">
                    <p > Nombre del producto</p> 
                <p class="descripcion-producto">
                    Descripción del 
                    producto.
                </p>
                <div class="columna-producto" >
                    Producto N°1
                </div>
            </div>
            <p> Precio</p>
            
           
        
        <div class="cruz-corazon">
            
            <i class="fa-duotone fa-x"></i> 
            <i class="fa-regular fa-heart"></i>
        </div>
            
        <section class="resumen-pedido">
            <h4 class="resumen-del-pedido"> RESUMEN DEL PEDIDO</h4>
            <div class="producto-precio">
               <p class="resumen-pedido-precios"> Producto   Precio</p> 
            </div>
            
            <div class="envio-precio">
            <p class="resumen-pedido-precios"> Costo del envio     Precio</p>
        </div>
        
        <div class="total-precio">
            <p class="resumen-pedido-precios"> TOTAL   Precio</p>
        </div>
        <section>
            <input class="checkout" type="button" value="checkout">
            <div class="flecha-resumen">
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </div>
        </section>
        </section>
    </div>
        
</section>
        
    </article>
    <section>
        <input class = "cod-promocional" placeholder="Introducir codigo promocional" type="text"></input>
        <i class="fa-solid fa-plus"></i>
    </section>
        <section >
            <h2 class="recomendaciones">Recomendaciones</h2>
            <div>
            <section class="articulos-recomendaciones">
                <article class="fondo-recomendaciones">
                    <div class="flecha-izquierda">
            <i class="fa-solid fa-arrow-left"></i> 
        </div>
            <img class="articulo-cristiano" src="images/cristiano.jpg" alt="articulo nft"> 
            <p class="descripcion-cristiano">Descripción</p>
        
            <img class="articulo-monkey" src="images/monkey.jpg" alt="articulo nft"> 
            <p class="descripcion-monkey">Descripción</p>
            <div class="flecha-derecha">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
        </article>
        </section>
        </section>
        <section >
            <h3 class="opciones-de-pago"> Opciones de pago</h3>
            <section >
                
            <div class="tarjeta-visa"><img class="pagos" src="images/visa.png" alt="tarjeta"></div>
            <div class="tarjeta-master"><img class="pagos" src="images/mastercard.png" alt="tarjeta"></div>
            <div class="tarjeta-american"><img class="pagos" src="images/american-express.png" alt="tarjeta"></div>
        </section>
        </section>
    </main>
</body>
</html>